
@media screen and (max-width: 912px){
    body{
        font-size: .9rem;
    }
    
    header{
        padding: 0;
    }
    header .right-header{
        padding: 2rem !important;
    }
    .header-content{
        grid-template-columns: 1fr;
        padding-bottom: 16rem;
        .left-header{
            height: 100px;
            justify-content: center;
            background-color: var(--color-secondary);
            .image{
                height: 100% !important;
                left: 50%;
                margin-left: 0 !important;
                img{
                    filter: drop-shadow(5px 5px 5px rgb(36, 36, 36)) !important;
                }
            }
        }
        .right-header{
            width: 90%;
            margin: 30px auto;
            .name{
                font-size: 2.5rem;
            }
        }
    }

    .about-container{
        grid-template-columns: 1fr;
        .left-about{
            padding-right: 0;
            p{
                padding-left: 0;
            }
            .btn-con{
                padding-top: 1.5rem;
                justify-content: center;
                align-items: center;
            }
            .left-content{
                &:hover{
                    transform: none;
                    border: 1px solid var(--color-grey-5);
                    box-shadow: 1px 2px 15px rgba(0,0,0,.1);
                }
            }
        }
        .right-about{
            grid-template-columns: 1fr;
            padding-top: 2.5rem;
            .about-item{
                &:hover{
                    transform: none;
                    border: 1px solid var(--color-grey-5);
                    box-shadow: 1px 2px 15px rgba(0,0,0,.1);
                }
            }
        }
    }

    .portfolio{
        grid-template-columns: 1fr;
        padding-bottom: 6rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .hover-item{
            opacity: 90% !important;
            .icons{
                .icon{
                    &:hover{
                        background-color: var(--color-primary) !important;
                        i{
                            color: var(--color-white) !important;
                        }
                    }
                }
            }
        }
    }

    .blogs{
        grid-template-columns: 1fr;
        padding-bottom: 6rem;
        .blog{
            img{
                filter: none;
            }
            &:hover{
                box-shadow: 1px 1px 20px rgba(0,0,0,.1);
                transform: translateY(0px);
                img{
                    transform: none;
                    box-shadow: 1px 1px 20px rgba(0,0,0,.1);
                }
            }
        }
        .blog-text{
            h4{
                color: var(--color-secondary);
            }
        }
    }

    .contact-content-con{
        flex-direction: column;
        padding-bottom: 6.5rem;
        .left-contact{
            .contact-icon{
                align-items: center;
                justify-content: center;
                a{
                    background-color: var(--color-secondary);
                    i{
                        color: var(--color-primary);
                    }
                }
            }
        }
        .right-contact{
            margin-left: 0;
            margin-top: 2.5rem;
            .i-c-2{
                flex-direction: column;
                
            } 
            .i-c-2 :last-child{
                margin-left: 0;
                margin-top: 1.5rem;
            }
            .submit-btn{
                justify-content: center;
                align-items: center;
            }
        }
    }

    .main-title{
        h2{
            font-size: 2.5rem;
            span{
                font-size: 2.5rem;
            }
            .bg-text{
                font-size: 3rem;
            }
        }
    }

    .section{
        padding: 2rem 2.5rem !important;
    }
    .sec1{
        padding: 0 !important;
    }

    .timeline{
        grid-template-columns: 1fr;
        padding-bottom: 6rem;
    }

    .controls{
        top: auto;
        bottom: 0;
        flex-direction: row;
        justify-content: center;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        background-color: var(--color-grey-5);
        .control{
            margin: 1rem .3rem;
        }
    }

    .theme-btn{
        width: 40px;
        height: 40px;
        top: 94%;
        right: 5%;
        z-index: 10;
    }

    .main-btn{
        background-color: var(--color-secondary);
    }

    .tooltiptext {
        visibility: hidden;
    }

}